.action {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;   
}

.action:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    background-color: #3A4042;
    width: 10px;
    height: 10px;
}