.box {
    font-family: 'Press Start 2P', sans-serif;
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 4px 4px 4px #000;
    text-align: center;
    padding: 42px 44px;
}

.box .main-title {
    margin-bottom: 29px;
}